// Defaults
@import "defaults/variables.scss";
// sablonu vytvoril Jan Kolarik
// www.jan-kolarik.czs

@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Pages
@import "pages/subpage.scss";
@import "pages/contacts.scss";

// Components
@import "components/header.scss";
@import "components/buttons.scss";
@import "components/banners.scss";
@import "components/sections.scss";
@import "components/about.scss";
@import "components/news.scss";
@import "components/gallery.scss";
@import "components/partners.scss";
@import "components/footer.scss";
@import "components/breadcrumb.scss";
@import "components/downloadfiles.scss";
@import "components/contactform.scss";

// Style 
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1430px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.dropdown-hover:hover .dropdown-hover-menu {
    display: block !important;
}