.subpage {
    padding: 5rem 0 6rem;
    @include media("sm") {
        padding: 4rem 0;
    }
    p, td {
        color: $darkbg-color;
        font-size: 15px;
        line-height: 29px;
        @include media("md") {
            text-align: center;
        }
    }
    ol {
        padding-left: 1rem;
        margin: 0 0 1rem 0;
        li {
            color: $darkbg-color;
            font-size: 14px;
            line-height: 35px;
            &::marker {
                font-weight: 600;
                color: $primary-color;
            }
        }
    }
    ul {
        margin: 0 0 1rem 0;
        font-size: 15px;
        padding-left: 0;
        list-style: none;
        li {
            color: $darkbg-color;
            padding-left: 1rem;
            background-image: url("../img/li.png");
            background-repeat: no-repeat;
            line-height: 35px;
            background-position: left top 15px;
        }
    }
    a {
        font-size: 14px;
        line-height: 28px;
        color: $highlight-color;
    }
    b, strong {
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
    }
    &-mainText { 
        max-width: 95%;
        @include media("xxl") {
            max-width: unset;
        }
        p {
            color: $primary-color;
            font-size: 21px;
            font-weight: 500;
            line-height: 34px;
            @include media("md") {
                font-size: 17px;
                line-height: 30px;
            }
        }
    }
    &-photo {
        max-width: 600px;
        max-height: 430px;
    }
    img {
        max-width: 100%;
        height: auto;
        @include media("md") {
            margin-left: auto;
            margin-right: auto;
        }
    }
    h2 {
        color: $primary-color;
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 2.5rem;
        margin-top: 3.5rem;
        font-weight: 600;
        letter-spacing: -1px;
        @include media("md") {
            text-align: center;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 2rem;
            margin-top: 2.25rem;
        }
    }
    h3 {
        color: $primary-color;
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        @include media("md") {
            text-align: center;
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 1.5rem;
            margin-top: 2rem;
        }
    }
    h4 {
        color: $primary-color;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-weight: 600;
        letter-spacing: -0.3px;
        @include media("md") {
            text-align: center;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }
    }
    &-content {
        table {
            width: 100%;
            overflow-y: scroll;
            border-bottom: 1px solid #eeeeee;
            @include media("md") {
                text-align: center;
            }
            thead {
                background-color: $background-color-darkgrey;
                th {
                    padding: 1rem 1.5rem;
                    letter-spacing: -0.25px;
                    border-top: 1px solid $subpage-border-color;
                    font-size: 15px;
                    color: $primary-color;
                }
            }
            td {
                padding: 1rem 1.5rem;
                border-top: 1px solid $subpage-border-color;
            }
        }
    }
    &-content > *:first-child {
        margin-top: 0;
    }
}