.subpage {
    padding: 7rem 0 5rem;
    @include media("sm") {
        padding: 4rem 0;
    }
    p, td {
        color: $tertiary-color;
        font-size: 14px;
        line-height: 29px;
        @include media("md") {
            text-align: center;
        }
    }
    ol {
        padding-left: 1rem;
        margin: 0 0 1rem 0;
        li {
            font-size: 14px;
            line-height: 35px;
            &::marker {
                font-weight: 600;
                color: $primary-color;
            }
        }
    }
    ul {
        margin: 0 0 1rem 0;
        font-size: 14px;
        padding-left: 0;
        list-style: none;
        li {
            padding-left: 1rem;
            background-image: url("../img/li.png");
            background-repeat: no-repeat;
            line-height: 35px;
            background-position: left top 15px;
        }
    }
    a {
        font-size: 14px;
        line-height: 28px;
        color: $highlight-color;
    }
    b, strong {
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
    }
    
    &__photo {
        max-width: 600px;
        max-height: 430px;
        padding-left: 4rem;
        padding-bottom: 4rem;
        float: right;
        @include media("xl") {
            float: unset;
            padding-left: 0;
            margin-bottom: 3rem;
            padding-bottom: 0;
        }
    }
    h1 {
        color: $primary-color;
        font-family: $alternative-font;
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 4rem;
        font-weight: 600;
        letter-spacing: -1px;
        @include media("md") {
            text-align: center;
            margin-bottom: 2.25rem;
        }
        @include media("sm") {
            display: none;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 1.5rem;
            margin-top: 2rem;
        }
    }
    &__content {
        h2{
            color: $primary-color;
            font-family: $alternative-font;
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 3rem;
            margin-top: 4rem;
            font-weight: 600;
            letter-spacing: -1px;
            @include media("md") {
                text-align: center;
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 1.5rem;
                margin-top: 2rem;
            }
        }
        h3 {
            color: $primary-color;
            font-family: $alternative-font;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 2.5rem;
            margin-top: 3.5rem;
            font-weight: 600;
            letter-spacing: -0.5px;
            @include media("md") {
                text-align: center;
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 1.5rem;
                margin-top: 2rem;
            }
        }
        h4 {
            color: $primary-color;
            font-family: $alternative-font;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 2rem;
            margin-top: 2.5rem;
            font-weight: 600;
            letter-spacing: -0.5px;
            @include media("md") {
                text-align: center;
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 1rem;
                margin-top: 1.5rem;
            }
        }
        table {
            width: 100%;
            overflow-y: scroll;
            border-bottom: 1px solid #eeeeee;
            @include media("md") {
                text-align: center;
            }
            thead {
                background-color: $background-color-darkgrey;
                th {
                    padding: 1rem 1.5rem;
                    letter-spacing: -0.25px;
                    border-top: 1px solid #eeeeee;
                    font-size: 14px;
                    color: $primary-color;
                }
            }
            td {
                padding: 1rem 1.5rem;
                border-top: 1px solid #eeeeee;
            }
        }
    }
    &__content > *:first-child {
        margin-top: 0;
    }
}