.banner {
    &__texts {
        background-image: url("../img/bg-header.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        @include flexCenter();
        padding-bottom: 4rem;
        @include media("lg") {
            margin-top: -2.75rem;
            padding-top: 2rem;
        }
        @include media("md") {
            text-align: center;
        }
        h2 {
            color: $secondary-color;
            font-family: $alternative-font;
            font-size: 66px;
            margin-bottom: 2rem;
            @include media("md") {
                font-size: 52px;
            }
        }
        p {
            font-size: 20px;
            line-height: 32px;
            color: $secondary-color;
            max-width: 80%;
            margin-bottom: 2.5rem;
            @include media("md") {
                max-width: 100%;
                font-size: 16px;
                line-height: 28px;
            }
        }
        a.button-white-bordered {
            @include media("md") {
                margin: 0 auto;
            }
        }
    }
    &__boxes {
        display: flex;
        margin-top: -5rem;
        margin-right: .5rem;
        @include media("md") {
            flex-wrap: wrap;
            justify-content: center;
            margin-right: 0;
        }
        @include media("sm") {
            flex-direction: column;
            align-items: center;
        }
        &-box {
            background-color: $secondary-color;
            border-radius: 1rem;
            padding: 2rem 1rem 1.5rem;
            max-width: 195px;
            text-align: center;
            filter: drop-shadow(8.045px 7.502px 17.5px rgba(0,0,0,0.08));
            &:not(:last-child) {
                margin-right: 1rem;
            }
            @include media("md") {
                margin-bottom: 1rem;
            }
            @include media("sm") {
                margin-right: 0 !important;
                display: flex;
                align-items: center;
                max-width: 100%;
                padding: 1rem;
            }
            h3 {
                font-size: 18px;
                font-weight: 600;
                margin: 1rem 0 0 0;
                @include media("sm") {
                    margin: 0 0 0 1rem;
                }
            }
            &:hover {
                filter: drop-shadow(8.045px 7.502px 17.5px rgb(0 148 222 / 16%));
            }
        }
        &-img {
            background-color: $background-color-light;
            padding: 0.25rem;
            height: 95px;
            width: 95px;
            border-radius: 10px;
            @include flexCenter();
        }
    }
    &__item {
        img {
            max-height: 720px;
            min-height: 660px;
            border-bottom-left-radius: 2.85rem;
            object-fit: cover;
            @include media("xl") {
                min-height: 600px;
            }
            @include media("sm") {
                min-height: 450px;
            }
        }
    }
    .banner__homepage {
        position: relative;
        .owl-nav {
            margin: 0;
            button {
                margin: 0; 
                img {
                    position: absolute;
                    bottom: 31px;
                    z-index: 999;
                }
            }
            .owl-prev img {
                transform: rotate(180deg);
            }
        }
        .owl-dots {
            position: absolute;
            @include widthFit();
            left: 0;
            right: 0;
            bottom: 20px;
            margin: 0 auto;
            background-color: #ffffff3b;
            border-radius: 15px;
            padding: .65rem 2rem;
            display: flex;
            align-items: center;
            .owl-dot {
                @include flexCenter();
                span {
                    background-color: #ffffffa6 !important;
                    width: 8px !important;
                    height: 8px !important;
                    margin: 0px 5px !important;
                    &:hover {
                        background-color: #fff !important;
                    }
                }
                &.active span {
                    background-color: transparent !important;
                    border: 3px solid #fff !important;
                    width: 13px !important;
                    height: 13px !important;
                } 
            } 
        }    
    }
}