.button-white {
    display: block;
    border-radius: $button-radius;
    border: 2px solid $highlight-color;
    color: $primary-color;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    padding: 0.95rem 1.5rem;
    letter-spacing: -0.025rem;
    @include widthFit();
    transition-duration: 0.1s;
    &:hover {
        background-color: $highlight-color;
        color: $secondary-color;
        text-decoration: none;
    }
}
.button-white-bordered {
    display: block;
    border-radius: $button-radius;
    border: 2px solid $secondary-color;
    color: $secondary-color;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 0.95rem 1.5rem;
    @include widthFit();
    &:hover {
        background-color: $secondary-color;
        color: $highlight-color;
        text-decoration: none;
    }
}
.button-blue {
    display: block;
    border-radius: $button-radius;
    border: 2px solid $highlight-color;
    color: $secondary-color;
    background-color: $highlight-color;
    font-size: 14px;
    font-weight: 600;
    padding: 0.95rem 1.5rem;
    @include widthFit();
    &:hover {
        background-color: $secondary-color;
        color: $highlight-color;
        text-decoration: none;
    }
}
.button-arrow-red {
    padding: 0.95rem 4rem 0.95rem 1.5rem;
    background-image: url("../img/arrow-right-red.png");
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    &:hover {
        background-image: url("../img/arrow-right-white.png");
    }
}
@include media("md") {
    .button-white {
        margin: 0 auto;
    }
}