.footer {
    padding: 5rem 0 4rem;
    background-color: $background-color-darkgrey;
     @include media("xl") {
        padding: 5.5rem 0 4rem;
    }
    @include media("sm") {
        padding: 4rem 0 4rem;
    }
    h3 {
        color: $highlight-color;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 14px;
        line-height: 28px;
        color: $darkbg-color;
        margin-bottom: 0;
    }
    
    &-address {
        p {
            font-weight: 500;
            strong {
                color: $primary-color;
                font-size: 15px;
            }
        }
        &-pin {
            background-image: url("../img/icon-pin-black.png");
            background-repeat: no-repeat;
            background-position: left top 5px;
            padding-left: 2.5rem;
        }
        &-tel {
            background-image: url("../img/icon-tel-black.png");
            background-repeat: no-repeat;
            background-position: left top 5px;
            padding-left: 2.5rem;
            a {
                color: $primary-color;
                font-weight: 600;
            }
        }
        &-mail {
            background-image: url("../img/icon-mail-black.png");
            background-repeat: no-repeat;
            background-position: left top 6px;
            padding-left: 2.5rem;
            a {
                font-weight: 600;
            }
        }
        @include media("md") {
            &-mail, &-tel, &-pin {
                padding-left: 0;
                padding-top: 1.5rem;
                background-position: center top;
            }
            &-mail {
                padding-top: 1rem;
            }
            &-mail, &-tel {
                margin-top: .5rem;
            }
        }
    }
    &-menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            a {
                color: $darkbg-color;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
    &-socials {
        display: flex;
        align-items: center;
        @include media("md") {
            padding-left: 0;
            justify-content: center;
        }
        a {
            background-color: $background-color;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            transition-duration: 0.1s;
            @include flexCenter();
            &:not(:last-of-type) {
                margin-right: .5rem;
            }
            &:hover {
                background-color: $highlight-color;
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    @include media("md") {
        text-align: center;
    }
}
.copyright {
    background-color: $background-color;
    padding: 2rem 0;
    text-align: center;
    p {
        color: $tertiary-color;
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 0;
        font-weight: 400;
        a {
            color: $tertiary-color !important;
        }
    }
}