.photoGallery {
    &-margin {
        margin-top: -2.75rem;
    }
    &-item {
        display: block;
        margin-top: 2.75rem;
        &:hover {
            text-decoration: none;
            h3 {
                color: $highlight-color;
            }
            .photoGallery-imageBox {
                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    content: "";
                    height: 35px;
                    width: 35px;
                    background-image: url("../img/icon-plus-white.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
                .photoGallery-image img {
                    filter: brightness(0.7);
                } 
            }
               
        }
    }
    &-texts {
        margin-top: 1rem;
        h3 {
            font-size: 15px;
            color: $primary-color;
            font-weight: 700;
            line-height: 30px;
            margin: 0;
            transition-duration: 0.1s;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            color: $darkbg-color;
            margin: 0;
        }
        img {
            margin-top: .75rem;
            transition-duration: 0.1s;
            &:hover {
                filter: brightness(0);
            }
        }
    }
    &-image { 
        position: relative;
        background-color: $background-color-grey;
        img {
            height: 270px;
            margin: 0 auto;
            transition-duration: 0.1s;
            object-fit: cover;
        }
    }
    @include media("md") {
        &-margin {
            margin-top: -2rem;
        }
        &-item {
            margin-top: 2rem;
        }
    }
}