.news {
    background-image: url("../img/bg-news.png");
    background-repeat: no-repeat;
    background-size: cover;
    &-box {
        margin-bottom: 3rem;
        @include media("sm") {
            flex-direction: column;
            margin-bottom: 2.5rem;
        }
        &-img {
            width: 100%;
            object-fit: cover;
            height: 275px;
            @include media("sm") {
                max-height: 220px;
            }
        }
        &-date {
            font-size: 14px;
            color: $primary-color;
            line-height: 30px;
            font-weight: 500;
            margin-bottom: .5rem;
            @include media("sm") {
                text-align: center;
            }
            span {
                color: $tertiary-color;
                &::after {
                    content: "|";
                    margin: 0 0.5rem;
                }
            }
        }
        &-title {
            margin-bottom: 0.75rem;
            a {
                font-size: 20px;
                color: $highlight-color;
                line-height: 30px;
                font-weight: 700;
                transition-duration: 0.1s;
                @include media("sm") {
                    text-align: center;
                }
                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
        &-desc {
            line-height: 24px;
            margin-bottom: 0;
        }
    }
    &-body {
        padding-top: 1.75rem;
        @include media("sm") {
            max-width: 100%;
        }
    }
    @include media("md") {
        text-align: center;
    }
}