.section {
    padding: 5rem 0 6rem;
    @include media("lg") {
        padding: 4rem 0 4rem;
    }
    &-title {
        margin-bottom: 4rem;
        h2 {
            font-size: 40px;
            line-height: 60px;
            font-weight: 600;
            letter-spacing: -0.1rem;
            margin-bottom: 0rem;
            @include media("sm") {
                margin-bottom: 1rem !important;
            }
        }
    }
    &-grey {
        background-color: $background-color-grey;
    }
}