$primary-color: #171818;
$secondary-color: #fff;
$tertiary-color: #696969;
$darkbg-color: #b4b3b3;

$background-color: #fff;
$background-color-dark: #151515;
$background-color-grey: #989fab;
$background-color-light: #f4f4f4;

$highlight-color: #0094de;

$alternative-font: 'Golos Text', sans-serif;

$button-radius: 5px;

$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 993px,
    "xl": 1200px,
    "xxl": 1600px,
);